$background-color: #f9f9f9;
$text-color: #333;
$navbar-bg-color: #007BFF;
$navbar-text-color: #fff;
$navbar-link-color: #fff;
$section-bg-color: #fff;
$border-color: #ccc;
$card-bg-color: #e7f1ff;
$alert-active-color: #ffcc00; // Màu cho cảnh báo đang hoạt động
$alert-resolved-color: #28a745; // Màu cho cảnh báo đã xử lý
